<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width="device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <title>Bulma Sandbox</title>
    <style>
        html {
            background: url("https://wallpaperaccess.com/full/260161.jpg");
            background-size: cover;
            }
    </style>
</head>
<body>
    <div class="container">

       <!-- NAVBAR -->
        <div class="block">
            <nav class="navbar">
                <div class="navbar-start">
                    <a href="" class="navbar-item">
                        <h1 class="title is-4">Reign Events</h1>
                    </a>
                </div>

                <div class="navbar-menu">
                    <a href="" class="navbar-item">
                        <span class="icon">
                            <i class="fa fa-inbox"></i>
                        </span>
                    </a>

                    <a href="https://www.instagram.com/reigneventsmtl/?hl=en" class="navbar-item">
                        <span class="icon">
                            <i class="fa fa-instagram"></i>
                        </span>
                    </a>
                </div>

                <div class="navbar-end">
                    <a href="#" class="navbar-item">Home</a>
                    <a href="#" class="navbar-item">About Us</a>
                    <a href="#" class="navbar-item">Contact</a>
                </div>

            </nav>

        </div>

        <!--HEADINGS -->
        <div class="block">
            <h1 class="title is-1 has-text-centered">Home</h1>

        </div>
        <!-- CONTENT -->
        <div class="block is-expanded">
        <p class="content is-medium has-text-centered">Welcome to Reign Events!</p>
        </div>
        <!-- TAGS -->
        <div class="block has-text-centered">
            {% if user.is_customer %} <a class="tag is-info is-large" href="{% url 'create_event' %}">Submit Event</a> {% endif %}
            {% if user.is_customer %} <a class="tag is-warning is-large">Event Information</a> {% endif %}
            {% if user.is_customer %} <a class="tag is-danger is-large">Modify Event</a> {% endif %}
        </div>

        <div class="block has-text-centered">
            {% if user.is_employee %} <a class="tag is-info is-large" href="{% url 'list_event' %}"> Events </a> {% endif %}
            {% if user.is_employee %} <a class="tag is-warning is-large" href="{% url 'choose_date' %}">Assign employee</a> {% endif %}
            {% if user.is_employee %} <a class="tag is-danger is-large" href="{% url 'list_employees' %}">Staff List</a> {% endif %}
        </div>

        </div>
</body>
</html>